[submodule "zsh-syntax-highlighting"]
	path = dot-config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh-completions"]
	path = dot-config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-autosuggestions"]
	path = dot-config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-easy-motion"]
	path = dot-config/zsh/plugins/zsh-easy-motion
	url = https://github.com/IngoMeyer441/zsh-easy-motion
[submodule "fancy-ctrl-z"]
	path = dot-config/zsh/plugins/fancy-ctrl-z
	url = https://github.com/mdumitru/fancy-ctrl-z.git
